<style type="text/css">
p{
font-size:20px;
text-align:center;
}
</style>

<div style="position:sticky; overflow: hidden;
padding:30px;width:100%;margin:auto;border:none;background-color:#000033;list-style-type: none;
   height:550px;
  left: 0;
 margin-bottom:-50 ;
  position: -webkit-sticky; /* Safari */
  position: sticky;
background-color:#000033;
 z-index:100;
 margin-bottom:0px;color:white;"><h2 style="text-align:center">Join the community that is committed to make a difference in world we share!!!</h2><br><br>
 <p style="text-align:left"><h2>Address:</h2></p><p style="text-align:left">Hno- xx Sector-xx</p><p style="text-align:left">City: abc</p><p style="text-align:left">State: Haryana</p><p style="text-align:left">Postal Address : abcdef</p><p style="text-align:left"><h2>Contact us: </h2></p> <p style="text-align:left"><p style="text-align:left">Ph No: +91 84483xxxxx , +91 87080xxxxx</p><p><p style="text-align:left">Email: xyz@gmail.com</p>
 <h2 style="margin-left:700px;margin-top:-330px;position:relative;">Connect with us:</h2><div style="display:inline ;margin-top:20px;margin-left:770px;"><strong><i  style="padding:15px;color:white;background-color:red; border-radius:50%;font-size:30px;width:60px;height:60px;" class="fab fa-google-plus-g"></i>
<br> <strong><i  style="margin-left:770px; margin-top:10px; text-align: center;  border-radius: 40px;vertical-align: middle; background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);margin-top:10px;padding:15px;color:white;font-size:30px;margin-top:10px;" class="fab fa-instagram"></i>
 <br><strong><i  style="margin-left:770px;margin-top:10px; width:60px;height=60px;padding:15px;color:white; border-radius:50%;font-size:30px;background-color:#3b5998" class="fab fa-facebook-f"></i>
 <br><strong><i  style="margin-left:770px;margin-top:10px;padding:15px;color:white;background-color:#38A1F3; border-radius:50%;font-size:30px;width:60px;height:60px;" class="fab fa-twitter"></i>
 <br><br><hr><h6 style="text-align:center;color:white;">&copy; Copyright 2019 || Narang Trading Company || All Rights reserved</h6>
 </div>
 </div>

 </body>
    
</html>